body {
    overflow: hidden;
    background-color: #fffdd0;
}

.live2d-viewer {
    width: 100vw;
    height: 100vh;
}

.speak-btn {
    position: sticky;
    left: 35px;
    bottom: 30px;
    z-index: 1030;
}

.usm_logo {
    position: sticky;
    color: white;
    width: 200px;
    left: 1vw;
    bottom: 90vh;
    z-index: 1030;
    text-align: center;
}

.usm_logo .title {
    font-size: 20px;
}

.usm_logo .subtitle {
    font-size: 14px;
}

.usm_logo img {
    max-width: 200px;
    max-height: 200px;
}
